@*/*
    Orris Disney II
    C# Inventory Project
    July 2018

    Definition of a View
    View is a user interface. View displays data from the model to the user and also enables them to modify the data

    This is for the main home page.  It is a simple blank page with items showing up at the top.   The majority of the page layout is stored in the Shared/_Layout.cshtml file
*/*@


@{
    ViewBag.Title = "Inventory Home Page";
}

<h3>Main Home Page</h3>
<br />

<div class="container">
    <p class="p_font_style">
        Welcome to the Inventory WebPage.<br />
        To start,  Click on the options at the top of the page to get started.

    </p>
</div>
<br />
<br />
<br />

