
@{
    ViewBag.Title = "Inventory Home Page";
}

<h3>Main Home Page</h3>
<br />

<div class="container">
    <p class="p_font_style">
        Welcome to the Inventory WebPage.<br />
        To start,  Click on the options at the top of the page to get started.

    </p>
</div>
<br />
<br />
<br />

